@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

.about-container {
  background-color: #000000;
  height: 290vh;
  width: 100vw;
  padding: 100px;
}

.about-orange-container {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #503c3c;
  left: 40px;
  border-radius: 5px;
  top: 40px;
}

.about-box-container {
  position: absolute;
  height: 150px;
  width: 350px;
  background-color: #503c3c;
  top: 600px;
  border-radius: 5px;
  right: 10px;
}

.about-main-container {
  position: absolute;
  height: 600px;
  width: 90%;
  background-color: #b6bbc4;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.about-inner-container {
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .about-img-container {
    flex: 1;
  }

  .about-details-container {
    flex: 3;

    .about-heading {
      color: #31304d;
      font-size: 50px;
      max-width: 80%;
      font-family: "Poppins", sans-serif;
      line-height: 48px;
      z-index: 9;
      transition: all 0.5s ease-in-out;
    }

    .about-heading:hover {
      text-shadow: 2px 2px 2px #fff;
      // filter: drop-shadow(5px 5px 5px #fff);
    }

    .about-details-para {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      text-align: justify;
      letter-spacing: 2px;
      margin-top: 5px;
    }
  }
}

.about-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: "Raleway", sans-serif;

  .about-icon-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;
    border: 1px solid #e0e0e0;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.4s ease-in-out;

    .about-icons {
      font-size: 40px;
      padding-bottom: 10px;
    }
  }

  .about-icon-name-container:hover {
    color: black;
    background-color: #c2c2c2;
    box-shadow: 5px 5px 5px #000;
    border: 1px solid black;
  }
}

.about-projects-container {
  position: absolute;
  top: 800px;
  width: 90%;

  .about-projects-heading {
    color: #fff;
    font-size: 50px;
    min-width: 80%;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    transition: all 0.5s ease-in-out;
    display: inline;
  }

  .about-projects-heading:hover {
    text-shadow: 1px 1px 1px #e0e0e0;
    color: #000;
  }
  .about-my-projects-container {
    height: 600px;
    width: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;

    .about-project-container {
      color: #b6bbc4;
      flex: 1;
      height: inherit;
      border: 1px solid #b6bbc4;
      padding: 30px;
      border-radius: 10px;
      background-color: transparent;
      transition: all 0.5s ease-in-out;

      .project-heading {
        color: #31304d;
        font-size: 50px;
        font-family: "Poppins", sans-serif;
        line-height: 36px;
        z-index: 9;
        display: inline;
      }

      .project-heading:hover {
        text-shadow: 2px 2px 2px #979797;
      }

      .lottie-project {
        height: 300px;
      }

      .project-description {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        text-align: justify;
        letter-spacing: 2px;
      }

      .project-techs {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
      }

      .project-link {
        text-decoration: none;
        color: #5c5b71;
      }
      .project-link:hover {
        text-decoration: underline;
      }

      .project-techs {
        margin: 15px 0;
      }
    }

    .about-project-container:hover {
      margin-top: 8px;
      background-color: #b6bbc4;
      color: #000;
    }
  }
}

.about-card-container {
  position: absolute;
  top: 1600px;
  width: 90%;

  .about-card-heading-para-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-card-heading {
    color: #fff;
    font-size: 50px;
    width: 60%;
    font-family: "Poppins", sans-serif;
    line-height: 58px;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

  .about-card-sub-heading {
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .about-card-sub-heading:hover {
    text-shadow: 1px 1px 1px #e0e0e0;
    color: #000;
  }

  .about-card-para {
    color: #b6bbc4;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 2px;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    line-height: 28px;
    transition: all 0.3s ease-in-out;
  }

  .about-card-para:hover {
    letter-spacing: 2.2px;
    width: 70%;
  }
}

.about-card-inner-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;

  .about-card {
    position: relative;
    border: 1px solid red;
    height: 300px;
    width: 400px;
    color: #b6bbc4;
    border: 1px solid #b6bbc4;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;

    .about-card-icon-container {
      position: absolute;
      background-color: #b6bbc4;
      display: inline;
      border: 5px solid #000;
      padding: 15px;
      top: -30px;
      transition: all 0.5s ease-in-out;
      border-radius: 5px;

      .about-card-icon {
        color: #31304d;
        font-size: 25px;
        font-weight: bold;
      }
    }
    .about-card-icon-container:hover {
      transform: rotate(360deg);
    }

    .about-card-inner-heading {
      margin-top: 50px;
      color: #31304d;
      font-size: 36px;
      font-family: "Poppins", sans-serif;
    }

    .about-card-inner-para {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      text-align: justify;
      margin-top: 15px;
    }
  }

  .about-card:hover {
    margin-top: 8px;
    background-color: #b6bbc4;
    color: #000;
  }
}

// ,
//   "devDependencies": {
//     "@babel/plugin-proposal-private-property-in-object": "^7.23.4"
//   }

// responsive for mobile devices
@media screen and (max-width: 425px) {
  .about-container {
    padding: 20px;
    height: 4400px;
  }

  .about-orange-container {
    top: 10px !important;
    left: 10px;
  }

  .about-box-container {
    display: block;
    top: 1080px;
  }

  // about-container
  .about-inner-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .about-details-para {
      font-size: 14px;
    }
  }

  .about-icons-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    .about-icons-text {
      font-size: 11px;
    }
  }

  // project-container
  .about-projects-container {
    top: 1300px;

    .about-projects-heading {
      font-size: 38px;
      color: #b6bbc4;
    }

    .about-project-container {
      height: auto !important;

      .project-heading {
        font-size: 38px !important;
      }

      .project-description {
        font-size: 14px;
      }
    }
  }

  .about-my-projects-container {
    display: flex;
    flex-direction: column;
  }

  // card-container
  .about-card-container {
    top: 2900px;

    .about-card-heading-para-container {
      text-align: center;
      .about-card-heading {
        width: auto;
        font-size: 38px;
      }
      .about-card-para {
        width: auto;
      }
    }
  }

  .about-card-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-card {
      width: 350px;
    }
  }
}

// responsive for tablet screens
@media screen and (min-width: 426px) and (max-width: 768px) {
  .about-container {
    padding: 40px;
    height: 3600px;
  }

  .about-orange-container {
    top: 20px !important;
    left: 20px;
  }

  .about-box-container {
    display: block;
    top: 780px !important;
  }

  // about-container
  .about-inner-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .about-img-container {
      .lottie-about-img {
        height: 350px !important;
      }
    }
    .about-heading {
      font-size: 38px !important;
    }

    .about-details-para {
      font-size: 14px !important;
    }
  }

  .about-icons-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    .about-icons-text {
      font-size: 11px;
    }
  }
  // project-container
  .about-projects-container {
    top: 1000px;

    .about-projects-heading {
      font-size: 38px;
      color: #b6bbc4;
    }

    .about-project-container {
      height: auto !important;

      .project-heading {
        font-size: 38px !important;
      }

      .project-description {
        font-size: 14px;
      }
    }
  }
  .about-my-projects-container {
    display: flex;
    flex-direction: column;
  }

  // card-container
  .about-card-container {
    top: 2400px;

    .about-card-heading-para-container {
      text-align: center;
      .about-card-heading {
        width: auto;
        font-size: 38px;
      }
      .about-card-para {
        width: auto;
      }
    }
  }

  .about-card-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-card {
      width: auto;
      height: 250px;
    }
  }
}

// responsive for small screens
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container {
    padding: 50px;
    height: 3200px;
  }

  .about-box-container {
    display: block;
    top: 460px !important;
  }

  .about-main-container {
    height: 530px;
  }

  // about-container
  .about-inner-container {
    padding: 20px;

    .about-heading {
      font-size: 38px !important;
    }

    .about-details-para {
      font-size: 14px !important;
    }
  }

  // project-container
  .about-projects-container {
    top: 650px;

    .about-projects-heading {
      font-size: 38px;
      color: #b6bbc4;
    }

    .about-project-container {
      height: auto !important;

      .project-heading {
        font-size: 38px !important;
      }

      .project-description {
        font-size: 14px;
      }
    }
  }
  .about-my-projects-container {
    display: flex;
    flex-direction: column;
  }

  // card-container
  .about-card-container {
    top: 2000px;

    .about-card-heading-para-container {
      text-align: center;
      .about-card-heading {
        width: auto;
        font-size: 38px;
      }
      .about-card-para {
        width: auto;
      }
    }
  }

  .about-card-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-card {
      width: auto;
      height: 250px;
    }
  }
}
