@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.nopagefound-container {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 80px;
}

.nopagefound-orange-container {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #503c3c;
  left: 40px;
  border-radius: 5px;
  top: 40px;
}

.nopagefound-box-container {
  position: absolute;
  height: 150px;
  width: 350px;
  background-color: #503c3c;
  border-radius: 5px;
  top: 610px;
  right: 30px;
}

.nopagefound-main-container {
  position: absolute;
  height: 650px;
  width: 90%;
  background-color: #b6bbc4;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.nopagefound-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85%;

  .lottie-no-page-found {
    height: inherit;
  }
}

// responsiveness for mobile
@media screen and (max-width: 425px) {
  .nopagefound-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 750px;
  }

  .nopagefound-orange-container {
    display: none;
  }

  .nopagefound-box-container {
    display: none;
  }
}

// responsiveness for tablets
@media screen and (min-width: 425px) and (max-width: 768px) {
  .nopagefound-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .nopagefound-orange-container {
    left: 20px !important;
    top: 20px !important;
  }

  .nopagefound-box-container {
    top: 570px;
    right: 20px;
  }
}

// responsiveness for small screens
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nopagefound-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .nopagefound-orange-container {
    left: 20px !important;
    top: 20px !important;
  }

  .nopagefound-box-container {
    top: 570px;
    right: 20px;
  }
}
