@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

.contact-container {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 80px;
}

.contact-orange-container {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #503c3c;
  left: 40px;
  border-radius: 5px;
  top: 40px;
}

.contact-box-container {
  position: absolute;
  height: 150px;
  width: 350px;
  background-color: #503c3c;
  top: 610px;
  border-radius: 5px;
  right: 30px;
}

.contact-main-container {
  position: absolute;
  height: 650px;
  width: 90%;
  background-color: #b6bbc4;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.contact-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

// my styles
.contact-us-heading {
  font-family: poppins;
  margin-bottom: 2rem;
}

.contact-box {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  border-radius: 0.3rem;
  padding: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  // padding: 0.6rem 1.5rem;
  border-radius: 1.4rem;
  width: 40vw;
}
.label-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.6rem 0rem;
}
.label-field {
  font-size: 1rem;
  font-family: Poppins;
  margin-bottom: 0.6rem;
  padding-left: 0.4rem;
}
.input-field {
  height: 40px;
  border-radius: 0.8rem;
  background-color: transparent;
  box-shadow: inset 5px 5px 7px 0 #c8d0e7, inset -6px -6px 10px 0 #dcdee3;
  border: 0;
  width: 90%;
  padding-left: 1rem;
  font-family: poppins;
  font-weight: 400;

  &::placeholder {
    font-family: poppins;
    padding-left: 1rem;
    font-weight: 400;
    color: #7d8083;
  }

  &:focus {
    outline: none;
    background-color: transparent;
    padding-left: 1rem;
  }
}
.textarea-field {
  height: 136px;
  border-radius: 0.8rem;
  background-color: transparent;
  box-shadow: inset 5px 5px 7px 0 #c8d0e7, inset -6px -6px 10px 0 #dcdee3;
  border: 0;
  width: 90%;
  padding: 1rem;
  font-family: poppins;
  font-weight: 400;
  resize: none;

  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: 500;
    color: #7d8083;
  }
}
.send-button {
  height: 49px;
  width: 90%;
  margin: 1rem 0rem;
  background-color: #313233;
  border-radius: 0.6rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  filter: drop-shadow(2px 2px 3px #313233);

  &:hover {
    background-color: lighten($color: #313233, $amount: 4);
    transition: all 0.2s ease-out;
  }
}
.lottie-box {
  height: 410px;
  width: 400px;
}
.lottie {
  filter: drop-shadow(3px 3px 4px black);
}

// responsiveness for mobile
@media screen and (max-width: 425px) {
  .contact-container {
    padding: 40px 20px;
    height: 1200px;
  }

  .contact-orange-container {
    top: 20px;
    left: 10px;
  }

  .contact-box-container {
    top: 1000px;
    right: 10px;
  }

  .contact-main-container {
    height: 150vh;
  }

  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-container {
      order: 2;
      position: absolute;
      top: 600px;
      width: 90%;
      margin-left: 30px;
    }

    .lottie-box {
      order: 1;
      position: absolute;
      top: 100px;
    }
  }
}

// responsive for tablet screens
@media screen and (min-width: 426px) and (max-width: 768px) {
  .contact-container {
    padding: 40px;
    height: 105vh;
  }

  .about-orange-container {
    display: block;
    top: 20px;
    left: 20px;
  }

  .about-box-container {
    display: block;
    top: 570px;
    right: 20px;
  }

  .contact-box {
    align-items: center;
  }

  .lottie-box {
    height: 310px;
    width: 300px;
  }
}

// responsive for smaller screens
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-container {
    padding: 50px;
    height: 100vh;
  }

  .about-orange-container {
    display: block;
    top: 20px;
    left: 20px;
  }

  .about-box-container {
    display: block;
    top: 580px;
    right: 25px;
  }
}
